**/*.class
**/*.jar
**/build/**
**/.DS_Store
**/.idea/**
**/.gradle/**
**/classes/**
**/*.iml
**/.idea/**
.project
**/.settings/**
**/.classpath
/.gradle/
**/generated/**
**/out/**
/dependencies/
/local/docker-compose.yaml
.env
**/output/**
node_modules
yarn.lock
package.json
